<section class="grid">
    {{#each syllogisms key="@index" as |syllogism|}}
        <Card @syllogism={{syllogism}} @toggle={{action toggle syllogism}} />
    {{/each}}
</section>
{{#if expanded}}
    <div class="detail {{currentSyllogism.name}}">
        <button class="close" onclick={{action toggle}}>
            <Svg-icon @name="x" />
        </button>
        <div class="info">
            <h1>
                {{currentSyllogism.name}}{{#if currentSyllogism.isValid}} <Svg-icon @name="check-circle"/>{{/if}}
            </h1>
            <ul class="syllogism">
                <li>{{currentSyllogism.firstProposition.description}}</li>
                <li>{{currentSyllogism.secondProposition.description}}</li>
                <li>{{currentSyllogism.conclusion.description}}</li>
            </ul>
            <div class="validity">
                Syllogism is {{if currentSyllogism.isValid "valid" "invalid"}}
            </div>
        </div>
    </div>
{{/if}}